.boxsizing{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.wishdatefinderSearchForm .icon_calendar{
    position: absolute;
    right:5px;
    top:9px;
    cursor:pointer;
}

.wishdatefinderSearchForm .datefieldwrapper{
    position:relative;
    width:112px
}

.wishdatefinderSearchForm #order{
    width:120px;
}

.wishdatefinderSearchForm .wrapper {

    display: block;
    padding-bottom: 11px;
    color: #333;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc;
    border-radius: 0px;

}

.wishdatefinderSearchForm .bootstrap {
    background-color: transparent !important;
}

.wishdatefinderSearchForm .bootstrap label{
    font-weight: normal;
}

.wishdatefinderSearchForm .bootstrap a{
    text-decoration:none;
}

.wishdatefinderSearchForm button.button span {
    background-color: #93216a !important;
    height: 36px !important;
    line-height: 36px !important;
    color:#fff;
}

.wishdatefinderSearchForm button.button:hover span{
    background-color:#a52777 !important;
}

.wishdatefinderSearchForm h5{
    font-weight:bold;
}

.wishdatefinderSearchForm label.we {
    display: block;
    float: left;
    margin-top: 3px;
    display: block;
    float: left;
    margin-right:7px;
}

.wishdatefinderSearchForm .bar{
    background-image: url("../images/wishdatefinder_bg.png");
}

.wishdatefinderSearchForm .buttonwrapper{
    padding-top:16px;
}

.wishdatefinderResult .date{
    font-weight:bold;
    padding-bottom:2px;
    padding-left:4px;
}

.wishdatefinderResult .statusmessage{
    height:30px;
    margin-top:16px;
    font-weight:bold;
    padding-top:10px;
}

.wishdatefinderResult .statusmessage .inner{
    margin-left:12px;
}

.statusmessage a.backlink{
    font-weight:normal;
    text-decoration:none;
    margin-bottom:6px;
}

.statusmessage p{
    margin-left:6px;
}

.statusmessage #backlink{
    float:right;
    margin-right:6px;
    margin-top:-5px;
    display:inline-block;
}

.wishdatefinderSearchForm .buttonwrapper .inner{
    margin-left:12px;
}

.wishdatefinderSearchForm .multiselectwrapper .inner{
    margin-left:6px;
}


.wishdatefinderSearchForm .headlinewrapper {
    margin-bottom: 4px;
    padding-left:11px;
    margin-top:20px;
    height:30px
}

.wishdatefinderSearchForm .headlinewrapper h4 {
    margin-top: 3px;
}

.wishdatefinderSearchForm .bootstrap input[type="checkbox"]{
    pointer-events:auto;
    height:14px;
}