.GWA.header .header-main {
  width: 100%;
  background: #fff !important;
  padding: 0;
}

.GWA.header .header-main .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
}

.GWA.header .header-main .logo {
  max-width: 276px;
  max-height: 50px;
  min-height: 50px;
  min-width: 276px;
  margin-right: 2vw;
}

.GWA.header .header-main .logo img {
  width: 100%;
  height: 100%;
}

.GWA.header .mobile-logo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  min-height: 45px;
}

.GWA.header .mobile-logo img {
  width: 100%;
  height: 100%;
}

.GWA.header .search {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  height: 50px;
  padding-left: 17px;
  border-radius: 25px;
  width: 100%;
}

.GWA.header .search__trigger {
  display: none;
}

.GWA.header .search-close {
  display: none;
}

.GWA.header .search-wrapper {
  max-width: 600px;
  width: 100%;
}

.GWA.header .search__icon {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 21px;
}

.GWA.header .search__icon img {
  width: 100%;
  height: 100%;
}

.GWA.header .search__apply {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  background: #a4006a;
  height: 100%;
  min-width: 160px;
  max-width: 160px;
  width: 100%;
  border-radius: 25px;
  margin-left: 21px;
}

.GWA.header .i-search {
  border: none;
  outline: none;
  background: transparent;
  color: #595959;
  font-size: 16px;
  font-weight: 350;
  line-height: 1;
  width: 100%;
}

.GWA.header .i-search::placeholder {
  font-family: "Filson Pro";
  color: #595959;
  font-size: 16px;
  font-weight: 350;
}

.GWA.header .i-search::-webkit-search-decoration, .GWA.header .i-search::-webkit-search-cancel-button, .GWA.header .i-search::-webkit-search-results-button, .GWA.header .i-search::-webkit-search-results-decoration {
  display: none;
}

.GWA.header .phone-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 20px;
}

.GWA.header .phone-contact span {
  color: #595959;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.2;
  white-space: nowrap;
}

.GWA.header .phone-contact__icon {
  min-width: 50px;
  height: 50px;
  max-width: 50px;
  background: #f5f5f5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.GWA.header .phone-contact__icon img {
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.GWA.header .cart__trigger {
  margin-left: 55px;
  min-width: 50px;
  height: 50px;
  max-width: 50px;
  background: #f5f5f5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.GWA.header .cart__trigger img {
  max-width: 17px;
  max-height: 17px;
  min-height: 17px;
  min-width: 17px;
}

@media screen and (max-width: 1450px) {
  /*! Media 1450 ==========>  */
  .GWA.header .header-main .container {
    padding: 30px 20px;
  }
  .GWA.header .cart__trigger {
    margin-left: 35px;
  }
}

@media screen and (max-width: 1310px) {
  /*! Media 1310px ==========>  */
  .GWA.header .header-main .search-wrapper {
    max-width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  /*! Media 1200px ==========>  */
  .GWA.header .header-main .search-wrapper {
    max-width: 600px;
  }
  .GWA.header .phone-contact span {
    display: none;
  }
  .GWA.header .phone-contact__icon {
    margin: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
  }
  .GWA.header .cart__trigger {
    margin-left: 8px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}

@media screen and (max-width: 991px) {
  /*! Media 991px ==========>  */
  .GWA.header .header-main {
    order: 1;
  }
  .GWA.header .header-main .container {
    padding: 15px 20px 16px;
    border: none;
  }
  .GWA.header .header-main .search {
    background: #fff;
    margin-left: 22px;
    height: 38px;
    border-radius: 19px;
  }
  .GWA.header .header-main .search__icon {
    margin-right: 10px;
  }
  .GWA.header .header-main .search__apply {
    border-radius: 0 19px 19px 0;
    max-width: 112px;
    min-width: 112px;
    font-size: 14px;
    margin-left: 10px;
  }
  .GWA.header .header-main .search-close {
    display: flex;
    cursor: pointer;
  }
  .GWA.header .header-main .search-wrapper {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    max-width: 100%;
    padding: 16px 23px;
    display: none;
    align-items: center;
  }
  .GWA.header .header-main .search-wrapper.active {
    display: flex;
  }
  .GWA.header .phone-contact__icon {
    max-width: 38px;
    max-height: 38px;
    min-height: 38px;
    min-width: 38px;
  }
  .GWA.header .cart__trigger {
    max-width: 38px;
    max-height: 38px;
    min-height: 38px;
    min-width: 38px;
  }
  .GWA.header .burger-wrapper {
    display: flex;
  }
  .GWA.header .logo {
    display: none;
  }
  .GWA.header .mobile-logo {
    display: block;
  }
  .GWA.header .search__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    max-width: 38px;
    max-height: 38px;
    min-height: 38px;
    min-width: 38px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-left: auto;
    cursor: pointer;
  }
  .GWA.header .search__trigger img {
    max-width: 14px;
  }
  .GWA.header .phone-contact {
    margin-left: 8px;
    padding-left: 0;
  }
}

@media screen and (max-width: 420px) { 
  /*! Media 420px ==========>  */
  .GWA.header .header-main .container {
    padding: 15px 15px 16px;
  }
}

@media screen and (max-width: 380px) {
  /*! Media 380px ==========>  */
  .GWA.header .header-main .search__apply {
    max-width: 86px;
    min-width: 86px;
  }
  .GWA.header .header-main .search__icon {
    display: none;
  }
  .GWA.header .header-main .search .i-search {
    font-size: 13px;
  }
  .GWA.header .header-main .search .i-search::placeholder {
    font-size: 13px;
  }
}