.an-subscribe .block-title
{
    min-height: 18px;
    height:auto!important;
    padding: 3px 3px 3px 8px;
}

.an-subscribe .block-title strong
{
    background: url("../images/i_block-subscribe.gif") 0 0 no-repeat;
}
.an-subscribe .block-content
{
    padding: 5px 10px;

}
.an-subscribe .block-content .block-padding
{
    padding: 5px;

}
.an-subscribe-ajax
{ background-color: white; }
.an-subscribe .block-content label.an-data
{
    font-size: 11px;
    font-weight: bold;
}
.account-create .an-data input
{
    margin-left: 220px;
}
.account-create .an-data label
{
    padding-left: 10px;
}
.an-data
{ width: 95%; }
.an-buttons
{ margin-top: 5px; }
.an-subscribe .block-title img
{ 
    float:right;
}
.an-subscribe label
{
    display:inline;
}

#advancednewsletter-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#000;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
}
#advancednewsletter-overlay[id]{ /* IE6 and below Can't See This */
    position:fixed;
}
#an-content{
    position: fixed;
    z-index:9999;
    text-align:left;
}
#subscribe-please-wait
{
	background:none repeat scroll 0 0 #FFF4E9;
    border:2px solid #F1AF73;
    padding:15px 60px;
    position: fixed;
	z-index: 9999;
    color: black;
}
