/* Grid container
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/



	.container {
		width:96%;
	
											max-width: 1200px;
						}

				.lte-ie8 .container { max-width:1200px; }
	






















/* Desktop - design for a width of 1280px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1280px <= width */

@media only screen and (min-width: 1280px)  {

						.container { max-width: 1200px; }
				
	/* Special grid units */
	.grid-col2-sidebar 	{ width: 20.41%; }
	.grid-col2-main		{ width: 75.58%; }
	.grid-col3-sidebar		{ width:27.01%; }
	.grid-col3-main			{ width:70.34%; }
	
	/* Hide */
	.hide-below-1280 { display:inherit !important; }
}

